{% extends "base.html" %}

{% block title %}Change data{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<main class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Change your data</h1>
            <p>{{user.username}}, through the following links you can change your data.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h2>Change email</h2>
                <p>Your email is {{user.email}}</p>
                <p>If you wish to change it, click on this button.</p>
                <p><a class="btn btn btn-primary" href="{% url 'changemail'%}" role="button">Go &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Change prediction model</h2>
                <p>Your selected language model is {{user.settings.prediction_model}}.</p>
                <p>If you wish to select a different one, click on this button.</p>
                <p><a class="btn btn btn-primary" href="{% url 'changepm' %}" role="button">Go &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Change password</h2>
                <p>If you wish to change your password, click on this button.</p>
                <p><a class="btn btn btn-primary" href="{% url 'changepswd'%}" role="button">Go &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>Delete user account</h2>
                <p>If you wish to delete your account, click on this button.</p>
                <p><button class="btn btn btn-primary" data-toggle="modal" data-target="#deleteModal">Go &raquo;</button></p>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                 aria-labelledby="creationHeader" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="creationHeader">Delete Account</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST">
                                {% csrf_token %}
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Return to profile</h2>
                <p>If you wish to return to your profile, click on this button.</p>
                <p><a class="btn btn btn-primary" href="{% url 'profile' %}" role="button">Go &raquo;</a></p>
            </div>
        </div>

    </div>

</main>
{% endblock %}