{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Your documents
{% endblock %}

{% block content %}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Your Documents</h1>
            <p class="lead text-muted"> Here you can find a list of the created documents.</p>
            <p><a class="btn btn-secondary" href="{% url 'changedata' %}" role="button">Change data &raquo;</a></p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for doc in docs %}
                <div class="col col-xs-8 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ doc.title }}</h5>
                            <p class="card-text">{{ doc.description }}</p>
                            <div class="btn-group">
                                <form action="{% url 'edit' %}" method="GET">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary" name="id"
                                            value="{{ doc.id }}">Edit
                                    </button>
                                </form>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                        data-target="#deleteModal{{ forloop.counter0 }}">Remove
                                </button>
                                <div class="modal fade" id="deleteModal{{ forloop.counter0 }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="deleteHeader" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteHeader">Delete document</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p> Are you sure you want to remove the document {{ doc.title }}?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Back
                                                </button>
                                                <form action="{% url 'remove' %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary" name="doc_id"
                                                            value="{{ doc.id }}">Continue
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Click on the button to create a new document.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                            data-target="#creationModal">Create
                                    </button>

                                    <div class="modal fade" id="creationModal" tabindex="-1" role="dialog"
                                         aria-labelledby="creationHeader" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="creationHeader">New document</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="" method="post" id="create">
                                                        {% csrf_token %}
                                                        {{ form | crispy }}
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary" form="create"> Create
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}